@import "settings";

body {
  min-width: 1280px;
  //min-height: 600px;
  font-size: 11px;
  overflow: hidden;
}

.aeg-main-table {
  td {
    @include box-sizing(border-box);
    width: 5%;
    padding: 2px 5px;
    vertical-align: middle;
    font-size: 11px;
    &+td {
      width: 9.5%;
    }
    &:last-child {
      vertical-align: top;
    }
  }
  .glyphicons {
    line-height: 25px !important;
    font-size: 25px;
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 32px;
    i:before {
      position: relative;
    }
  }
}

.aeg-tabs {
  .tab-content {
    padding: 0;
  }
  .widget-head {
    overflow: hidden;
  }
}

.aeg-table-search {
  margin-top: 4px;
}

.input-append {
  .btn {
    vertical-align: middle;
  }
}

.aeg-shipment-table {
  font-size: 10px;
  input, select, option, span, p, a, div, label {
    font-size: 10px;
  }
  label {
    font-weight: 700;
  }
  td {
    padding: 3px 2px;
  }
  table {
    width: 100%;
  }
  input, select, label {
    margin: 0;
  }
}

#menu {
  overflow-y: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  #menuInner {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

$border-color: #ccc;
#content__l,
#content__rt,
#content__rbr,
#content__rblt {

  overflow: auto;
}

%content__aside {
  @include box-sizing(border-box);
  margin: 0;
  float: left;
}

#content {
  @include box-sizing(border-box);
}

#content__r,
#content__rb {
  overflow: hidden;
}

#content__l {
  width: 55%;
  @extend %content__aside;
}

#content__r {
  width: 45%;
  @extend %content__aside;
  border-left: 1px solid $border-color;
}

#content__rt {
  border-bottom: 1px solid $border-color;
}
#content__rbl {
  border-right: 1px solid $border-color;
}